@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 97%; /* Light background */
    --foreground: 240 10% 3.9%;

    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --code-font: 'Source Code Pro', monospace;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;

    ::selection {
      background: none;
    }
    
    ::-webkit-scrollbar {
      width: .3rem;
    }
    
    ::-webkit-scrollbar-track {
      background: none;
    }
    
    ::-webkit-scrollbar-thumb {
      background: #cbacf9;
      border-radius: 3rem;
    }

    img {
      -webkit-user-drag: none;
      -khtml-user-drag: none;
      -moz-user-drag: none;
      -o-user-drag: none;
    }
  }
}

@layer base {
  * {
    @apply border-border !scroll-smooth;
  }
  body {
    @apply bg-background text-foreground font-[var(--secondary-font)];
  }
  h1, h2, h3, .heading {
    @apply font-[var(--primary-font)] font-bold;
  }
  code, pre {
    @apply font-[var(--code-font)];
  }
  button {
    @apply active:outline-none;
  }
}

@layer utilities {
  .font-primary {
    font-family: var(--primary-font);
  }

  .font-secondary {
    font-family: var(--secondary-font);
  }

  .font-code {
    font-family: var(--code-font);
  }
}